pretrained_models/
*.png
__pycache__
*.pb
samples/
results/
wandb/

*\__pycache__
*\pretrained_weights
*.glb

.vscode
demo_dataset
DiT/__pycache__
DiT/.vscode
DiT/ckpt_old
DiT/pretrained_models
DiT/results
DiT/test_results
*.pyc
*.pt

output
output_partcrafter
TripoSG/pretrained_weights
output_mask
output_triposg_mask
out_test
evaluation_results
diffusers
